*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.logo{
    margin-left: 50px; 
}
.thala{
    color: orange;
}
.no{
    color: deepskyblue;
}
.navigation ul{
    display: flex;
    padding: 10px;
    gap: 40px;
    list-style: none;
}
.navigation li{
    background-color: orange;
    padding: 10px;
    border-radius:20px;
    transition-duration: 0.2s;
}
.navigation a{
    text-decoration: none;
    font: 1em sans-serif;
    color: rgb(255, 255, 255);
}
.navigation li:hover{
    transform: scale(1.2);
    border: 2px solid darkblue;
}
.navigation a:hover{
     color: beige;
}
.parentright{
    display: flex;
    gap: 20px;
    margin-right: 20px;
}
.parentright input{
  height: 20px;
}
.cart{
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 50%;
  transition-duration: 0.5s;
}
.profile-pic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ccc;
    object-fit: cover;
    cursor: pointer;
    transition-duration:0.5s;
}
.profile-pic:hover{
    transform: scale(1.2);
    border-color:orange;
}
.cart:hover{
    transform: scale(1.2);
    border-color: orange;
}

.searchbox{
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 10px;
    transition: 0.5s;
}
.searchbox input{
    border: none;
    outline: none;
}
.searchbox:hover{
   transform: scale(1.2);
    border-color: orange;
}


/* hero section */
#herosection{
    display: flex;
    align-content: center;
    justify-content: center;
}

.left{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 100px;
}
.left h1{
    font-size: 100px;
}
.left p{
    padding: 10px;
}
.left button{
    height: 50px;
    background-color: orange;
    color: white;
    font-size: large;
    z-index: 2;
    transition-duration: 0.7s;
    border-radius: 25px;

}
.left button:hover{
    transform: scale(1.1);
}
.imgh{
    display: flex;
    align-self: center;
    flex-direction: column;

    height: 600px;
    z-index: 1;
}

@keyframes shoe{
    0%{
        transform: translatey(-50px);      
    }100%{
        transform: translatey(50px);
    }
}

/* serviceoverview */
.serviceocerview{
    display: flex;
    justify-content: space-between;
    z-index: 1;
    background-color: orange;
    padding: 25px;
}
.serviceocerview li{
    margin-left: 50px;
    margin-right: 50px;
    color: white;
    list-style: none;
    
}
.bold{
    font-size: 30px;
}
.bold:hover{
    color: red;
}

/* Product Display */
#productdis{
    margin-bottom: 7%;
}
#productdisplay{
    display: flex;
    justify-content: center;
    align-items: center;   /* Makes both sides parallel */
    gap: 80px;
    padding: 60px 80px;
}

.productleft{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: shoe 2s linear  infinite alternate-reverse ;
}

.productleft img{
    width: 500px;
    max-width: 100%;
}

.productright{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    margin-bottom: 0;      /* Remove 250px */
}

.namediscription h1{
    align-self: flex-start;
    font-size: 70px;
}


.namediscription p{
    font-size: large;
}


.pricedetailed{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.pricedetailed h3{
  font-size: 30px;
}
.cardq{
    display: flex;
    gap: 20px;
}

.quantity{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.quantity{
    padding: 8px 15px;
    border-radius: 8px;
    border: 1px solid orange;
}
.cardq button{
    margin-top: 22px;
    height: 36PX;
    width: 250px;
    border: 1px solid ;
    border-radius: 20px;
    background-color: orange ;
    color: white;
    transition: 0.5s;
}

.cardq button:hover{
    transform: scale(1.1);
}

/* shoe container */
.shoe-gallery{
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 20px 60px;
    margin-top: -20px;
    scroll-behavior: smooth;
}

.shoe-gallery::-webkit-scrollbar{
    height: 8px;
}

.shoe-card{
    min-width: 180px;
    width: 180px;
    height: 180px;
    border-radius: 15px;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: 0.3s;
}

.shoe-card:hover{
    transform: translateY(-8px);
}

.shoe-card img{
    width: 140px;
    transition: .3s;
}

.shoe-card img:hover{
    transform: scale(1.08) rotate(-8deg);
}


/* shoping card section */
.sleftright{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 77px;
    padding: 40px;
}

.left{
    flex: 2;
}

.right{
    flex: 1;
    background: #f8f8f8;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
}

.info-table{
    width: 100%;
    border-collapse: collapse;
}

.info-table th,
.info-table td{
    padding: 18px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.info-table th{
    background: orange;
    color: white;
}

.info-table button{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background: orange;
    color: white;
    cursor: pointer;
}

.coupon{
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.coupon input{
    flex: 1;
    padding: 10px;
}

.coupon button{
    padding: 10px 18px;
    background: orange;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.row{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    font-size: 18px;
}

.total{
    font-size: 22px;
    font-weight: bold;
}

.checkout-btn{
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background: orange;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
}

.secure{
    display: flex;
    height: 40px;
    width: 600px;
    gap: 20px;
    /* margin-top: 30px; */
}
#razorpay{
    align-self: flex-start;
    height: 80px;
    width: 80px;
}
#sec{
    margin-top: 20px;
     height: 40px;
    width: 80px;
}
.back {
    padding: 40px;
    font-size: x-large;
    font-style: none;
    margin-left: 20px;
    margin-bottom: 20px;
    font-family:Arial, Helvetica, sans-serif;
}
#aa{
     text-decoration: none;
}
.checkout-btn:hover{
    transform: scale(1.05);
}

/* Payment Section */
.checkout{
    margin-left: 100px;
    padding: 20px;
    font-family:sans-serif;
    font-size: xx-large;
    display: flex;
}

.pleftright{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin-bottom: 100px;
}
.pleft{
   margin-left: 50px;
}
.pright{
    margin-right: 50px;
}

.pleft h4{
    font-size:x-large;
    padding: 20px;
}

#email{
    font-size: large;
    padding: 20px;
}
#emaill{
    width: 300px;
    height: 25px;
    border: 1px solid deepskyblue;
    border-radius: 10px;
}
.card ul{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap: 30px;
}
.card li{
    padding: 20px;
    border: 1px solid orange;
    border-radius: 5px;
    list-style: none;
    transition: 0.5s;
}
.card li a{
    text-decoration: none;
}
.card li:hover{
    border-radius: 0%;
    border: 1px solid red;
    transform: scale(1.1);
}

.detailss{
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding: 20px;
}

#card{
   font-size: 20px;
}
#cardd{
    height: 25px;
    margin-bottom: 20px;
    border:1px solid deepskyblue;
    border-radius: 5px;
}

.formatrf{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 60px;
}
.formatrf label{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.formatrf input{
 border: 1px solid deepskyblue;
 border-radius: 10px;
 transition: 0.5s;
}
.formatrf input:hover{
   
    border-radius: 0%;
    transform: scale(1.05);
    border: 1px solid orange;
}
.formatl{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.formatr{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#expp{
    padding: 20px;
    margin-bottom: 20px;
}
#cvcc{
    padding: 20px;
    margin-bottom: 20px;
}
#zipp{
    padding: 20px;
}
#countryy{
    padding: 20px;
}